.homeRealtors{
    grid-column: full-start / full-end;
    grid-row: 7 / 8;

    &__grid{
        display: grid;
        grid-template-columns: [full-start] 1fr repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) 1fr [full-end];
        justify-items: center;
        margin-bottom: 6rem;
    } 
    &__content{
        grid-column: 3 / 12;
        @include respond(tab-port){
            grid-column: 2 / 13;
        }
        @include respond(phone){
            grid-column: 1 / -1;
        }
    }
    &__icons{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-column-gap: 5rem;
        @include respond(tab-port) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, min-content);
            grid-row-gap: 10rem;
        }
        @include respond(phone){
            grid-row-gap: 5rem;
        }
    }
    &__group{
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 3rem;
        align-items: center;
        justify-items: center;
    }
    &__icon, &__icon1{
        font-size: 7rem;
        color: $color-gold;
        @include respond(tab-port){
            font-size: 20rem;
        }
        @include respond(phone){
            font-size: 15rem;
        }
    }
    &__icon1{
        font-size: 8rem;
        @include respond(tab-port){
            font-size: 21rem;
        }
        @include respond(phone){
            font-size: 16rem;
        }
    }
    &__header{
        font-style: 2rem;
        color: $color-primary2;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        padding: 0 2rem;
        @include respond(tab-port){
            font-size: 4rem;
        }
        @include respond(phone){
            font-size: 3rem;
        }
    }
    &__text{
        text-align: center;
        color: rgb(6, 68, 104);
        margin: 1rem 0;
        @include respond(tab-port){
            font-size: 3rem;
        }
        @include respond(phone){
            font-size: 2.5rem;
        }
    }
    &__headPar{
        @include respond(tab-port){
            display: grid;
            grid-template-rows: repeat(2, min-content);
            grid-row-gap: 3rem;
        }
        @include respond(phone){
            grid-row-gap: 1.5rem;
        }
    }
}