@import '../../base/variabales';
.footer{
    grid-column: full-start/ full-end;
    grid-row: 10 / 11;
    text-align: center;
    background-color: $color-gold;
    color: #fff;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
    }
}
